<style>

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #5F9EA0;
    }

    li {
        float: left;
    }
        li.akun {
        float: right;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: "Times New Roman", Times, serif;
            font-size: 20px;
        }

            li a:hover {
                background-color: #F0E68C;
            }



</style>

<!DOCTYPE html>
<html>
<head>
    <title>Membuat Navbar di HTML dengan CSS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav>
  <ul>
            <li><a href="/barang/index/">Home</a></li>
            <li><a href="/Barang/produk/">Produk</a></li>
            <li><a href="/admin/pesananmasuk/">Pesanan</a></li>
            <li><a href="/admin/tentang/">Tentang</a></li>
            <li class="akun"><a href="/Home/index/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

  </ul>

</nav>
    @RenderBody()
</body>
</html>

