@model Barang
@{
    Layout = "NoLayout";
}

<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h3>Edit User</h3>
			</div>

			<div class="card-body">
				<form method="post" action="Edit">
					<input type="hidden" name="Id" value="@Model.Id">
					<div class="mb-3">
						<label>Name</label>
						<input type="text" name="Name" value="@Model.Name" class="form-control" />
					</div>
					<div class="mb-3">
						<label>Photo</label>
						<input type="file" name="Photo" value="@Model.Photo" class="form-control"
                               accept=".png,.jpg,.jpeg" />
					</div>
					<div class="mb-3">
						<label>Harga</label>
						<input type="text" name="Harga" value="@Model.Harga" class="form-control" />
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-success">
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
