@model List<Barang>
@{
	Layout = "Adminlayout";
}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h3>Daftar Barang</h3>
			</div>

			<div class="card-body">

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Nama</th>
							<th>Harga</th>
							<th>Photo</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var adminn in Model)
						{
							<tr>
								<td>@adminn.Name</td>
								<td>@adminn.Photo</td>
								<td>@adminn.Harga</td>
								<td>		
									<a href="/Barang/edit/@adminn.Id"
								   class="btn btn-warning">
										Edit
									</a>
									<a href="/Barang/delete/@adminn.Id"
								   class="btn btn-danger">Delete</a>
								</td>
							</tr>
						}
						
					</tbody>
				</table>
				<a href="/Barang/Create/"
				   class="btn btn-warning">
					Tambah
				</a> 
			</div>
		</div>
	</div>
</div>

